---
import BaseHead from '../components/BaseHead.astro';
import Header from "@components/react/Header";
import Aside from "@components/react/Aside";
import Footer from "@components/react/Footer";

const { frontmatter} = Astro.props;
const { title, description, publishDate, updateDate, ogtype, ogimage, twimage } = typeof frontmatter !== "undefined" ? frontmatter : Astro.props;

const { pathname } = Astro.url;
---

<html lang="en">
	<BaseHead title={title}
						description={description}
						publishDate={publishDate}
						updateDate={updateDate}
						ogtype={ogtype}
						ogimage={ogimage}
						twimage={twimage}
						/>
  <body>
		<div class="wrapper">
      <Header path={pathname} />
      <div class="main-aside">
        <main>
					<!-- NOTE: Excluding H1 Header for homepage. -->
					{ pathname !== "/" &&
	          <h1>{title}</h1>
					}
          <slot />
        </main>
        <Aside />
      </div>
      <Footer />
    </div>
    <svg display="none" aria-hidden="true">
      <symbol id="icon-github" viewBox="0 0 496 512"><path fill="currentColor" d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6c-3.3.3-5.6-1.3-5.6-3.6c0-2 2.3-3.6 5.2-3.6c3-.3 5.6 1.3 5.6 3.6m-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9c2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3m44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9c.3 2 2.9 3.3 5.9 2.6c2.9-.7 4.9-2.6 4.6-4.6c-.3-1.9-3-3.2-5.9-2.9M244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2c12.8 2.3 17.3-5.6 17.3-12.1c0-6.2-.3-40.4-.3-61.4c0 0-70 15-84.7-29.8c0 0-11.4-29.1-27.8-36.6c0 0-22.9-15.7 1.6-15.4c0 0 24.9 2 38.6 25.8c21.9 38.6 58.6 27.5 72.9 20.9c2.3-16 8.8-27.1 16-33.7c-55.9-6.2-112.3-14.3-112.3-110.5c0-27.5 7.6-41.3 23.6-58.9c-2.6-6.5-11.1-33.3 2.6-67.9c20.9-6.5 69 27 69 27c20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27c13.7 34.7 5.2 61.4 2.6 67.9c16 17.7 25.8 31.5 25.8 58.9c0 96.5-58.9 104.2-114.8 110.5c9.2 7.9 17 22.9 17 46.4c0 33.7-.3 75.4-.3 83.6c0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252C496 113.3 383.5 8 244.8 8M97.2 352.9c-1.3 1-1 3.3.7 5.2c1.6 1.6 3.9 2.3 5.2 1c1.3-1 1-3.3-.7-5.2c-1.6-1.6-3.9-2.3-5.2-1m-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9c1.6 1 3.6.7 4.3-.7c.7-1.3-.3-2.9-2.3-3.9c-2-.6-3.6-.3-4.3.7m32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2c2.3 2.3 5.2 2.6 6.5 1c1.3-1.3.7-4.3-1.3-6.2c-2.2-2.3-5.2-2.6-6.5-1m-11.4-14.7c-1.6 1-1.6 3.6 0 5.9s4.3 3.3 5.6 2.3c1.6-1.3 1.6-3.9 0-6.2c-1.4-2.3-4-3.3-5.6-2"/></symbol>
      <symbol id="icon-facebook" viewBox="0 0 512 512"><path fill="currentColor" d="M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256c0 120 82.7 220.8 194.2 248.5V334.2h-52.8V256h52.8v-33.7c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H287v175.9C413.8 494.8 512 386.9 512 256"/></symbol>
      <symbol id="icon-instagram" viewBox="0 0 448 512"><path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9S287.7 141 224.1 141m0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7s74.7 33.5 74.7 74.7s-33.6 74.7-74.7 74.7m146.4-194.3c0 14.9-12 26.8-26.8 26.8c-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8s26.8 12 26.8 26.8m76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9c-26.2-26.2-58-34.4-93.9-36.2c-37-2.1-147.9-2.1-184.9 0c-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9c1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0c35.9-1.7 67.7-9.9 93.9-36.2c26.2-26.2 34.4-58 36.2-93.9c2.1-37 2.1-147.8 0-184.8M398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6c-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6c-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6c29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6c11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1"/></symbol>
      <symbol id="icon-mastodon" viewBox="0 0 448 512"><path fill="currentColor" d="M433 179.11c0-97.2-63.71-125.7-63.71-125.7c-62.52-28.7-228.56-28.4-290.48 0c0 0-63.72 28.5-63.72 125.7c0 115.7-6.6 259.4 105.63 289.1c40.51 10.7 75.32 13 103.33 11.4c50.81-2.8 79.32-18.1 79.32-18.1l-1.7-36.9s-36.31 11.4-77.12 10.1c-40.41-1.4-83-4.4-89.63-54a102.5 102.5 0 0 1-.9-13.9c85.63 20.9 158.65 9.1 178.75 6.7c56.12-6.7 105-41.3 111.23-72.9c9.8-49.8 9-121.5 9-121.5m-75.12 125.2h-46.63v-114.2c0-49.7-64-51.6-64 6.9v62.5h-46.33V197c0-58.5-64-56.6-64-6.9v114.2H90.19c0-122.1-5.2-147.9 18.41-175c25.9-28.9 79.82-30.8 103.83 6.1l11.6 19.5l11.6-19.5c24.11-37.1 78.12-34.8 103.83-6.1c23.71 27.3 18.4 53 18.4 175z"/></symbol>
      <symbol id="icon-linkedin" viewBox="0 0 448 512"><path fill="currentColor" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3M135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5c0 21.3-17.2 38.5-38.5 38.5m282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7c-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5c67.2 0 79.7 44.3 79.7 101.9z"/></symbol>
      <symbol id="icon-rss" viewBox="0 0 48 48"><path fill="currentColor" stroke="none" d="M5.5 13.573A28.927 28.927 0 0 1 34.427 42.5v0H42.5a37 37 0 0 0-37-37Z"/><path fill="currentColor" stroke="none" d="M29.718 42.5h-7.4A16.82 16.82 0 0 0 5.5 25.682v-7.4A24.22 24.22 0 0 1 29.718 42.5"/><circle cx="10.246" cy="37.755" r="4.745" fill="currentColor" stroke="none" /></symbol>
      <symbol id="icon-printables" viewBox="0 0 24 24"><path fill="#fa6831" d="M3.678 4.8L12 9.6v9.6l8.322-4.8V4.8L12 0ZM12 19.2l-8.322-4.8V24Z"/></symbol>
      <symbol id="icon-thingiverse" viewBox="0 0 24 24"><path fill="#196EF0" d="M11.955.005C5.425-.152-.091 5.485.007 11.805c-.235 6.756 5.537 12.25 12.052 12.196C18.621 23.9 23.912 18.595 24 12.03C24.031 5.483 18.505-.18 11.955.005m-.047 1.701a10.276 10.276 0 0 1 7.36 17.529a10.275 10.275 0 0 1-17.556-7.287C1.71 6.308 6.268 1.728 11.907 1.706zm-5.55 4.781c-.322 0-.358.033-.358.361v2.248c0 .351.04.391.398.391h3.823c.274 0 .274.004.274.265v9.736a.18.18 0 0 0 .051.146c.04.038.093.059.148.053h2.555c.247-.003.283-.035.283-.28v-9.32c0-.124.004-.239 0-.39s.055-.21.218-.21h3.9c.319.004.35-.032.35-.344V6.855c0-.34-.024-.363-.37-.363h-5.626z"/></symbol>
      <symbol id="icon-tinkercad" viewBox="0 0 24 24"><path fill="#0175da" d="M0 0v7.32h7.32V0zm8.34 0v7.32h7.32V0zm8.34 0v7.32H24V0zM1.605 1.266h4.106V2.33h-1.4v3.725H3.055V2.33h-1.45V1.265zm9.77 0h1.256V6.05h-1.256zm6.814 0h1.692l1.455 3.289v-3.29h1.158v4.79H20.82l-1.47-3.26V6.05h-1.16V1.266zM0 8.34v7.32h7.32V8.34zm8.34 0v7.32h7.32V8.34zm8.34 0v7.32H24V8.34zm-6.32 1.265h3.19v.965h-1.935v.92H13.5v.92h-1.885v1.065h2.03v.916h-3.286zm8.16 0h1.906c1.075 0 1.719.495 1.719 1.315c0 .535-.284.935-.8 1.135c.22.14.35.37.485.705l.645 1.625h-1.35l-.006.006l-.433-1.221c-.2-.535-.287-.664-.702-.664h-.254v1.885h-1.21zM1.596 9.61h1.26v1.756L4.3 9.61h1.51l-2.022 2.25l2.182 2.536H4.39l-1.541-1.94v1.94H1.596zm18.134.916v1.065h.334c.375 0 .827-.095.827-.57c0-.36-.226-.495-.801-.495zM0 16.68V24h7.32v-7.32zm8.34 0V24h7.32v-7.32zm8.34 0V24H24v-7.32zm-12.42 1.2c.375 0 .815.066 1.17.17l.09.024l-.055 1.022l-.16-.067a2.4 2.4 0 0 0-.89-.174c-.876 0-1.466.555-1.466 1.485s.54 1.484 1.446 1.484q.526 0 .925-.18l-.006-.003l.16-.07l.055.993l-.08.032c-.33.13-.753.199-1.193.199c-.765 0-1.411-.22-1.871-.635c-.475-.43-.73-1.06-.73-1.82c0-1.425 1.095-2.46 2.605-2.46m6.996.07h1.484l1.824 4.784H13.26l-.4-1.16H11.1l-.41 1.16H9.435l1.82-4.785zm6.965 0h1.718c1.625 0 2.522.825 2.522 2.325v.004c0 1.535-.992 2.455-2.647 2.455h-1.593zm1.26.915v2.95h.195c.975 0 1.488-.55 1.488-1.54c0-.895-.49-1.41-1.375-1.41h-.309zm-7.5.19l-.596 1.6h1.17z"/></symbol>
			<symbol id="icon-youtube" viewBox="0 0 256 180"><path fill="#f00" d="M250.346 28.075A32.18 32.18 0 0 0 227.69 5.418C207.824 0 127.87 0 127.87 0S47.912.164 28.046 5.582A32.18 32.18 0 0 0 5.39 28.24c-6.009 35.298-8.34 89.084.165 122.97a32.18 32.18 0 0 0 22.656 22.657c19.866 5.418 99.822 5.418 99.822 5.418s79.955 0 99.82-5.418a32.18 32.18 0 0 0 22.657-22.657c6.338-35.348 8.291-89.1-.164-123.134"/><path fill="#fff" d="m102.421 128.06l66.328-38.418l-66.328-38.418z"/></symbol>
			<symbol id="logo-eric-carlisle" viewBox="0 0 90 32" fill="none">
				<path d="M74.8675 29.0062C74.7841 28.7134 74.4715 28.2532 73.9295 27.6258L72.9916 26.5591C72.8665 26.35 72.804 26.1617 72.804 25.9944C72.804 25.1578 74.2839 23.4846 77.2437 20.9748C79.2447 19.2598 81.8293 17.4401 84.9975 15.516C85.1643 15.3905 85.2476 15.2859 85.2476 15.2022C85.2476 15.1186 85.1643 15.014 84.9975 14.8885C84.2471 14.3866 83.3717 13.7591 82.3712 13.0062C81.3707 12.2114 80.2452 11.2911 78.9945 10.2454C76.0764 7.81923 74.3047 6.06237 73.6794 4.97479C73.5543 4.59832 73.4918 4.24276 73.4918 3.90812C73.4918 3.78263 73.4918 3.65714 73.4918 3.53165C73.5335 3.40616 73.5752 3.28067 73.6169 3.15518C78.9112 7.88198 84.3305 12.0022 89.8749 15.516L90 16.8964C85.1226 19.197 80.7663 22.397 76.931 26.4964C76.6809 26.7892 76.4725 27.0401 76.3057 27.2493C76.139 27.4166 76.0139 27.5421 75.9305 27.6258C75.7638 27.8349 75.6179 28.065 75.4928 28.316C75.4094 28.5251 75.3677 28.7343 75.3677 28.9434L74.8675 29.0062Z" fill="var(--color-brand-accent)"/>
				<path d="M15.1325 29.0062L14.6323 28.9434C14.5906 28.4415 14.0695 27.6258 13.069 26.4964C9.27543 22.4388 4.91911 19.2388 0 16.8964L0.125062 15.516C2.91811 13.7591 5.64864 11.8558 8.31663 9.80616C11.0263 7.71466 13.7151 5.49766 16.3831 3.15518C16.4248 3.28067 16.4457 3.40616 16.4457 3.53165C16.4873 3.65714 16.5082 3.78263 16.5082 3.90812C16.5082 4.24276 16.4457 4.59832 16.3206 4.97479C15.6953 6.02054 13.9027 7.7774 10.9429 10.2454C9.69231 11.2911 8.56675 12.2114 7.56625 13.0062C6.60744 13.7591 5.75285 14.3866 5.00248 14.8885C4.79404 15.014 4.68983 15.1186 4.68983 15.2022C4.68983 15.2441 4.7732 15.3486 4.93995 15.516C8.27494 17.482 10.8804 19.3016 12.7563 20.9748C15.6744 23.4846 17.1335 25.1578 17.1335 25.9944C17.1335 26.1199 17.1127 26.2245 17.071 26.3081C17.071 26.3918 17.0501 26.4754 17.0084 26.5591C16.3831 27.1029 15.7578 27.9186 15.1325 29.0062Z" fill="var(--color-brand-accent)"/>
				<path d="M30.5509 28.1905H42.9231L43.1017 31.2381C38.9926 31.507 34.3027 31.507 29.8809 31.507C26.263 31.507 23.9851 29.4454 23.9404 26.1289V5.87115C23.9851 2.55462 26.263 0.492996 29.8809 0.492996C34.3027 0.492996 38.9926 0.492996 43.1017 0.761903L42.9231 3.85434H30.5509C28.7196 3.85434 27.871 4.7507 27.871 6.81232V13.535H41.1811V16.7171H27.871V25.1877C27.871 27.2941 28.7196 28.1905 30.5509 28.1905Z" fill="var(--color-brand)"/>
				<path d="M57.6496 0C61.5355 0 63.5007 0.268907 66.0466 0.896358L65.6447 3.89916C62.9648 3.63025 61.2228 3.4958 57.6496 3.4958C51.6198 3.4958 49.6992 6.58824 49.6992 16C49.6992 25.4118 51.6198 28.5042 57.6496 28.5042C61.4461 28.5042 63.7687 28.3697 66.27 28.0112L66.672 30.9692C64.0814 31.6863 61.6695 32 57.6496 32C48.7613 32 45.5454 27.7871 45.5454 16C45.5454 4.21289 48.7613 0 57.6496 0Z" fill="var(--color-brand)"/>
			</symbol>
			<symbol id="icon-sun" viewBox="0 0 48 48"><circle cx="23.997" cy="23.995" r="9.438" fill="var(--color-text)" stroke="var(--color-text)" stroke-linecap="round" stroke-linejoin="round"/><path fill="none" stroke="var(--color-text)" stroke-linecap="round" stroke-linejoin="round" d="M2.5 23.995h7.346M23.997 45.5v-7.35m0-28.3V2.5m14.157 21.495H45.5M8.79 39.192l5.195-5.194M39.2 39.2l-5.198-5.198M13.989 13.991L8.79 8.794m25.212 5.19l5.194-5.194"/></symbol>
			<symbol id="icon-sun" viewBox="0 0 48 48"><path fill="var(--color-text)" stroke="var(--color-text)" stroke-linecap="round" stroke-linejoin="round" d="M32.8 29.3c-8.9-.8-16.2-7.8-17.5-16.6c-.3-1.8-.3-3.7 0-5.4c.2-1.4-1.4-2.3-2.5-1.6C6.3 9.7 2.1 16.9 2.5 25c.5 10.7 9 19.5 19.7 20.4c10.6.9 19.8-6 22.5-15.6c.4-1.4-1-2.6-2.3-2q-4.35 1.95-9.6 1.5"/></symbol>
		</svg>
	</body>
</html>
